body {
    background-color: antiquewhite;
    max-width: 900px;
    margin: auto;
}

.foto {
    border-radius: 100%;
    border: 3px solid black;
    width: 100%;
}

#titulo {
    color: rgb(5, 99, 99);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

.post {
    background-color: rgba(5, 5, 126, 0.308);
    padding: 15px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.titulo_post {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    text-decoration: double;
    margin: 0px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    text-decoration: line-through;
}


.conteudo_post {
    margin: 0px;
    margin-bottom: 15px;

}

.lista {
    list-style-type: square;
    padding: 0px;
    padding-left: 15px;
}